@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-y: hidden;
}

.parent {
    background: #ffffff;
    width: 200px;
    height: 200px;
    transition: 1s;
    transition-delay: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  
  .parent[data-isOpen="true"] {
    width: 1024px;
    transition: 1s;
    transition-delay: 0.2s;
    background: #ffffff;
    border-radius: 30px;
    height: 70VH;
  }

  .child[data-isOpen="true"] {
    display: block;
    height: 500px;
  } 

   .child {
    display: hidden;
    border-radius: 100%;
  }